.sizeImg{
    width: 70px;
    height: 70px;
    margin-right: 15px;
    
}
.priceSize{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
}
.item{
    font-family: centuryGotic;
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    margin: 10px 0;
    width: 1029px;
    cursor: pointer;
    @media (min-width: 320px) and (max-width: 480px) {
        width: 360px;
      }
}
.itemMain{
    display: flex;
    width: 935px;
    font-size: 25px;
    @media (min-width: 320px) and (max-width: 480px) {
        width: 355px;
      }
}
.text{
    color: white;
    padding: 5px;
    margin: 0;
    width: 850px;
    font-size: 15px;
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 10px;
        padding-right: 60px;
        width: 215px;
      }
}

.title{
    color: white;
    margin: 0 10px 0 0 ;
    text-transform: uppercase;
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 13px;
        width: 200px;
      }
}
.price{
    color: white;
    display: flex;
    width: 200px;
    justify-content: flex-end;
    text-align: center;
    margin: 0 0 0 auto;
    
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 13px;
        width: 85px;
      }
}
p{
    margin: 7px 0;
}