.backdrop {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.626);
  transition: opacity 500ms linear, visibility 500ms linear;
  overflow-y: scroll;
}
.modal {
  position: relative;
  font-family: centuryGotic;
  // text-align: center;
  color: white;
  background-color: rgb(25, 26, 27);
  // background-image: url(./img/fon2.jpg);
  // background-size: contain;
  width: 400px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  // padding: 40px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  /* transform: scale(.2); */
  /* opacity: 1; */
  /* transition: all 1s linear; */
  /* visibility: hidden; */
  box-shadow: 0px 0px 15px 15px #da1b5c;
  align-items: center;
  animation: scaleOn 500ms linear;
  background-color: rgb(49, 47, 47);
  @media (min-width: 320px) and (max-width: 480px) {
    background-color: rgb(49, 47, 47);
    width: 315px;
    height: 525px;
  }
}
.imgModal{
  position: absolute;
  z-index: 90;
  border-radius: 10px;
  width: 400px;
  height: 700px;
  @media (min-width: 320px) and (max-width: 480px) {
    // width: 215px;
    top: 0;
    width: 315px;
    height: 525px;
    
  }
}
.modalInfo{
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.677);
  width: 270px;
  margin-top: 15px;
  border-radius: 10px;
  
  @media (min-width: 320px) and (max-width: 480px) {
    width: 230px;
    
  }
}

// .modal img {
  // margin-top: 20px;
  // border-radius: 10px;
  // @media (min-width: 320px) and (max-width: 480px) {
    // width: 215px;
//     top: 0;
//     width: 245px;
//     height: 400px;
    
//   }
// }
.itemTitle {
  
  margin-top: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 30px;
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
    // width: 235px;
  }
}
.itemText{
  font-size: 20px;
  text-transform: lowercase;
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 10px;
  }
}

@keyframes scaleOn {
  0% {
    opacity: 0;
    scale: 0.2;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
