.backdrop{
    position: fixed;
    
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.49);

}
.modal{
    background-color: aliceblue;
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 40px;
}