@font-face {
  font-family: centuryGotic;
  src: url('../fonts/century-gotic.ttf');
  
}
@font-face {
  font-family: Neuropol;
  src: url('../fonts/neuropol-mwdium.ttf');
}
body {
  font-family: centuryGotic;
  background-color: rgba(0, 0, 0, 0.582);
}
.head {
  position: relative;
  margin: auto;
  width: 1366px;

  @media (min-width: 320px) and (max-width: 480px) {
    width: 360px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
  margin: auto;
  width: 1366px;
  // padding: 90px;
  // background-color: orange;
  // background-image: url(./img/fon1.jpg);
  background-size: contain;
  // background-repeat: no-repeat;
  padding-bottom: 400px;
  @media (min-width: 320px) and (max-width: 480px) {
    max-width: 360px;
    padding: 20px;
    padding-bottom: 400px;
  }
}
.header {
  display: flex;
  align-items: center;
 
  box-sizing: border-box;
top: 0;
  height: 90px;
  background-color: rgb(12, 12, 12);
  // position: absolute;
  position: fixed;
  z-index: 100;
  width: 1366px;
  @media (min-width: 320px) and (max-width: 480px) {
    max-width: 400px;
    height: 50px;
    
  }
}
.upper{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // position: relative;
  margin: auto;
  padding-top: 90px;
  width: 1366px;
  // padding: 60px;
  // background-color: orange;
  background-image: url(./img/fon1.jpg);
  // background-size: contain;
  // background-repeat: no-repeat;

  @media (min-width: 320px) and (max-width: 480px) {
    max-width: 400px;
    padding-top: 50px;
    
  }
}
.link {
  display: flex;
  margin-left: auto;
  margin-right: 45px;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(255, 166, 0, 0.33);
  @media (min-width: 320px) and (max-width: 480px) {
    width: 44px;
  height: 44px;
  margin-right: 15px;
  }
}
.icon {
  @media (min-width: 320px) and (max-width: 480px) {
    height: 30px;
  width: 30px;
  }
  height: 65px;
  width: 65px;
  fill: #0f0e0d;
}
.iconAm {
  @media (min-width: 320px) and (max-width: 480px) {
    
 margin-left: 20px;
  width: 90px;
  padding: 5px 8px;
  
  }
  padding-top: 5px;
 margin-left: 20px;
  width: 250px;
  font-family: centuryGotic;
  box-shadow: 0px 0px 5px 5px rgb(255 106 0);
  background-color: rgb(255 106 0);
  border: none;
  font-weight: 700;
}
.tel{
  @media (min-width: 320px) and (max-width: 480px) {
    margin-left: 40px;
  }
  color: white;
  text-decoration: none;
  margin-left: 80px;
  
}
.telSize{
  font-size: 30px;
  font-weight: 500;
  font-family: centuryGotic;
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 15px;
  font-weight: 500;
  }
}
.logo {
  width: 800px;
  @media (min-width: 320px) and (max-width: 480px) {
    max-width: 360px;
  }
}
.section {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.title {
  color: #f47424;
  // border-bottom: 5px solid #f47424;
  border-bottom: none;
  font-family: centuryGotic;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  justify-content: center;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  // color: white;
  background-color: rgba(255, 255, 255, 0);
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 30px;
  }
}

.titleItem {
  font-family: centuryGotic;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(255, 166, 0, 0);
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 15px;
  }
}
