.hid {
  transition: transform, display 600ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: itemDown 500ms 0s linear;
}
.heed{
    
    position: relative;
    overflow: hidden;
}

.test {
     transform: translateY(-95%); 
     transition: transform, display 250ms cubic-bezier(0.4, 0, 0.2, 1); 
     animation: itemDown 500ms 0s linear; 
   
    background-color: aquamarine;
  }
  .coct {
    transform: translateY(-95%); 
    transition: transform, display 250ms cubic-bezier(0.4, 0, 0.2, 1); 
     animation: itemDown 500ms 0s linear; 
   
    background-color: aquamarine;
  }

.den,
.hidden {
  transform: translateY(0);

  background-color: aquamarine;
  transition: transform, display 600ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: itemUp 500ms 0s linear;
}

@keyframes itemUp {
  0% {
    display: none;
    transform: translateY(-90%);
  }

  100% {
    display: block;
    transform: translateY(0);
  }
}
@keyframes itemDown {
  0% {
    display: block;
    transform: translateY(0);
  }

  100% {
    display: none;
    transform: translateY(-90%);
  }
}


